<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- para llamar a la variable utilizamos <%= %> para interpretar la sintaxis -->
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %> <!--El <%- %> con GUION sirve para interpretar codigo-->

    <!-- Main content -->

    <header class="cointainer vh-100 d-flex justify-content-center align-items-center"> <!-- vh=view-height d-flex=display-flex -->
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/perfilt.png" alt="" class="w-25"> <!-- carpeta public se puede enlazar al frontend -->
            <h1 class="display-3 my-3 text-uppercase fw-bold">tecnologias ecuador</h1> <!-- my=margin-y fw=font-weight -->
            <a href="/about" class="btn btn-primary w-25">About</a>
        </div>
    </header>

    <%- include('partials/footer') %>
</body>
</html>